Source: throttle
Section: utils
Priority: extra
Maintainer: Martin Steghöfer <martin@steghoefer.eu>
Build-Depends: debhelper (>= 8), autotools-dev, dpkg-dev (>= 1.16)
Standards-Version: 3.9.5
Homepage: http://klicman.org/throttle/

Package: throttle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bandwidth limiting pipe
 throttle copies the standard input to the standard output while limiting
 bandwidth to the specified maximum. This can help to limit resources 
 (bandwidth, CPU time,...) when using it together with programs that 
 don't support throttling natively.
